node_modules
dist
.temp
.idea
.vscode
src/style/_views.less
src/env.js
src/plugins/tab-bar.js
src/style/styd-less-base
src/style/_iconfont.less
src/style/_iconfont_content.less
src/.DS_Store
src/views/.DS_Store
.DS_Store
preview-qr.jpg
src/minaconfig.js

yarn.lcok
package-lock.json

